{{ define "main" }}
    <main class="jam">

        <article>
            <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>


            <div style="font-size: 80%;">
                <a href="https://github.com/invider/collider.jam">source</a>
                | <a href="../help/">man</a>
                | <a href="../data/jamming-card.pdf">card</a>
                | <a href="https://discord.gg/kxNnHc2">discord</a>
            </div>

            <hr>

            {{- if .Params.toc }}
                <hr />
                <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
                <hr />
            {{- end }}

            {{ with .Params.Cover }}
                <img src="/img/{{ . }}" class="post-cover" />
            {{ end }}

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>

        <hr />

        <div style="font-size: 80%;">
            <a href="https://github.com/invider/collider.jam">source</a>
            | <a href="../help/">man</a>
            | <a href="../data/jamming-card.pdf">card</a>
        </div>

    </main>
{{ end }}
